In [16]:
import numpy as np
import pandas as pd

In [17]:
def sin_function(x):
    return np.sin(x)

In [18]:
def cos_function(x):
    return np.cos(x)

In [24]:
table_size = 1000
start_x = 0
end_x = 2
x_values = np.linspace(start_x, end_x, table_size)
sin_values = sin_function(x_values)
cos_values = cos_function(x_values)
table_data = {'x': x_values, 'sin(x)': sin_values,'cos(x)': cos_values}
df = pd.DataFrame(table_data)
df.head()

          x    sin(x)    cos(x)
0  0.000000  0.000000  1.000000
1  0.002002  0.002002  0.999998
2  0.004004  0.004004  0.999992
3  0.006006  0.006006  0.999982
4  0.008008  0.008008  0.999968

In [21]:
for i in range(10):
    x_val = df['x'][i]
    sin_val = df['sin(x)'][i]
    cos_val = df['cos(x)'][i]
    
    print(f"{x_val:.4f}{sin_val:.4f}{cos_val:.4f}")

0.00000.00001.0000
0.00200.00201.0000
0.00400.00401.0000
0.00600.00601.0000
0.00800.00801.0000
0.01000.01000.9999
0.01200.01200.9999
0.01400.01400.9999
0.01600.01600.9999
0.01800.01800.9998